
.App {
  text-align: center;
}

body{
background-color: rgb(39, 94, 142);
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #7052e6; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
button:hover {
  background-color: #bfb3e7;
}
a {
  color: #d1d0c9;
  text-decoration: none;
}

form {
  margin: 20px auto;
  padding: 20px;
  border: none;
  border-radius: 8px;
  max-width: 200px;
  background-color: #6478eb;
  color: rgb(207, 206, 206);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



 

  
